.black { color: #110111; }

.white { color: #efefef; }

.grey { color: #555555; }

.blue { color: #1188ff; }

.green { color: #81ff18; }

html { font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; }

a:active, a:hover { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

h1 { font-size: 2em; margin: 0.67em 0; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

figure { margin: 1em 40px; }

hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace,monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }

button { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }

legend { border: 0; padding: 0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

td, th { padding: 0; }

html, body { background: #110111; color: #efefef; font: 18px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 auto; min-height: 100%; overflow: auto; padding: 0; vertical-align: baseline; }

a { border: 0; color: #1188ff; text-decoration: none; }
a:hover { color: #81ff18; }
a:visited { color: #555555; }

h1, h2, h3, h4, h5, h6, article h1, section h1 { line-height: 1.3; margin: 0; padding: 0; }

.intro { font-size: 60px; font-weight: 600; line-height: .75em; position: relative; vertical-align: top; }

.summary { color: #555555; font-size: 24px; font-weight: 200; margin-top: .5em; }

.title { color: #1188ff; font-size: 36px; font-weight: 200; }

.copy { color: #555555; font-size: 12px; padding-top: 20px; }

.logo { background: #efefef; border-radius: 9px; display: inline-block; float: left; margin: -24px 20px 0 -15%; padding: 10px; position: relative; text-align: center; }
.logo img { height: auto; width: 100px; }

[role="main"] { margin: 6em auto; padding: 2rem; max-width: 767px; }

[role="banner"] { clear: left; padding-bottom: 20px; }

.entry p { line-height: 1.7em; margin-bottom: 20px; }

#lean_overlay { background: #110111; display: none; height: 100%; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 100; }

.iframe { border: none; display: block; padding: 10px; max-height: 644px; max-width: 640px; box-sizing: content-box; }

.modal-example-content { background: #110111; outline: 0 none; }
.modal-example-content .close { float: right; padding: 4px; text-align: center; background: #1188ff; color: #efefef; font-size: 12px; }

@media (max-width: 1012px) { .logo { margin: -10px 20px 0 0; }
  .intro { line-height: .9em; top: -20px; vertical-align: text-top; }
  .summary { font-size: 20px; } }
@media (max-width: 480px) { .intro { font-size: 24px; top: 0; }
  .summary { font-size: 20px; }
  .title { font-size: 34px; }
  .logo { display: block; float: none; margin: -10px auto 20px; width: 100px; }
  .intro, .summary, .copy { line-height: 1.1em; text-align: center; }
  .entry p { font-size: 13px; } }
